.item {
  align-items: center;
  min-height: 54px;
  border: 1px solid black;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;

  div:last-child {
    button {
      width: 65px;
    }
  }
}
